<div id="main-table">
    <style>
        .nav-tabs, .nav-pills {
            margin-bottom: 0px;
            border-bottom: 0px solid #ddd;
        }
    </style>
    <div>
        <div class="portlet light boxed" class="collapse">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="font-green fa fa-cogs"></i>
                    <span class="caption-subject font-green bold uppercase">Parámetros</span>
                    <span class="caption-helper">Cargue los parámetros de búsqueda</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" id="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus >
                    <div class="form-body">
                        <div class="row" >
                            <div class="form-group form-inline col-sm-6">
                                <label class="control-label col-sm-4" for="desde">Rango de fechas</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input placeholder="Desde" id="desde"
                                               type="text" size="10"
                                               name="desde"
                                               ng-required="true"
                                               class="form-control"
                                               uib-datepicker-popup="dd/MM/yyyy"
                                               ng-model="datos.desde"
                                               is-open="desdeIsOpen"
                                               datepicker-options="dateOptions"
                                               current-text="Hoy"
                                               clear-text="Limpiar" readonly
                                               close-text="Cerrar" ng-click="desdeIsOpen = ! desdeIsOpen"/>
                                        <span class="input-group-btn">
                                         <button type="button" class="btn green" ng-click="desdeIsOpen = ! desdeIsOpen">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                       </span>
                                    </div>
                                    <div class="input-group">
                                        <input placeholder="Hasta" id="hasta"
                                               type="text" size="10"
                                               name="datos.hasta"
                                               ng-required="true"
                                               class="form-control"
                                               uib-datepicker-popup="dd/MM/yyyy"
                                               ng-model="datos.hasta"
                                               is-open="hastaIsOpen"
                                               datepicker-options="dateOptions"
                                               current-text="Hoy"
                                               clear-text="Limpiar" readonly
                                               close-text="Cerrar" ng-click="hastaIsOpen = ! hastaIsOpen"/>
                                        <span class="input-group-btn">
                                     <button type="button" class="btn green" ng-click="hastaIsOpen = ! hastaIsOpen">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                   </span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="altoRiesgo">Riesgo</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="tipo" class="bs-select form-control" id="altoRiesgo"
                                                data-ng-options="altoRiesgo.label for altoRiesgo in riesgos" data-ng-model="datos.altoRiesgo">
                                        </select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.altoRiesgo = datos.altoRiesgoDefault">
                                        <button class="btn fa fa-close btn-default font-green"></button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="paciente">Paciente</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-icon right">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="datos.paciente"
                                                   focus-on="FocusPais"
                                                   name="pais"
                                                   id="paciente"
                                                   reset-search-input="true" >
                                            <ui-select-match placeholder="Todos">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="paciente in (pacientes | filter: $select.search)" refresh-delay="0" >
                                                <span ng-bind="paciente.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.paciente = undefined">
                                            <button class="btn fa fa-close btn-default font-green"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="via">Vía</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="tipo" class="bs-select form-control" id="via"
                                                data-ng-options="via.label for via in vias" data-ng-model="datos.via">
                                        </select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.via = datos.viaDefault">
                                                <button class="btn fa fa-close btn-default font-green"></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="medicamento">Medicamento</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="datos.medicamento"
                                                   focus-on="FocusDepartamento"
                                                   name="medicamento"
                                                   id="medicamento"
                                                   reset-search-input="true" >
                                            <ui-select-match placeholder="Todos">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="medicamento in (medicamentos | filter: $select.search)"
                                                               refresh-delay="0" >


                                                <div style="margin-left: 5px">
                                                <span ng-bind="medicamento.nombre"></span>
                                                <br/>
                                                <span  style="font-size: 12px" ng-bind="getActivos(medicamento)"></span>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.medicamento = undefined">
                                            <button class="btn fa fa-close btn-default font-green"></button>
                                        </span>
                                    </div>
                                    <span class="help-block">
                                        Puede buscar por Código, Nombre Comercial o por sus activos
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="controlado">Controlado</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <select name="controlado" class="bs-select form-control" id="controlado"
                                                data-ng-options="controlado.label for controlado in controlados" data-ng-model="datos.controlado">
                                        </select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.controlado = datos.controladoDefault">
                                                <button class="btn fa fa-close btn-default font-green"></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-4" for="activo">Activo</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="datos.activo"
                                                   focus-on="FocusActivo"
                                                   name="activo"
                                                   id="activo"
                                                   reset-search-input="true" >
                                            <ui-select-match placeholder="Todos">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="activo in (activos | filter: $select.search)"
                                                               refresh-delay="0" >


                                                <div style="margin-left: 5px">
                                                    <span ng-bind="activo.nombre"></span>
                                                    <br/>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn" title="Borrar" ng-click="datos.activo = undefined">
                                            <button class="btn fa fa-close btn-default font-green"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions center-block">
                        <div class="btn-group ">
                            <button type="button" class="btn green col-lg-6" ng-click="aceptar()">
                                <i class="fa fa-search"></i> Buscar</button>
                            <button type="button" class="btn red col-lg-6" ng-click="limpiar()">
                                <i class="fa fa-trash"></i> Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <uib-tabset active="active">
        <uib-tab index="1" heading="Interacciones">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="font-green fa fa-cogs"></i>
                        <span class="caption-subject font-green bold uppercase hidden">Interacciones</span>
                        <span class="caption-helper">Total de interacciones encontradas en pacientes</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body">
                    <div>
                        <div class="dataTable_wrapper table-responsive">
                            <table id="table"
                                dt-options="dtOptions"
                                dt-columns="dtColumns"
                                dt-instance="dtInstanceCallBack"
                                dt-disable-deep-watchers="true"
                                class="table table-striped table-bordered dt-responsive main-table"
                                cellspacing="0"
                                width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Interaccion más frecuente">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-link fa-fw font-green"></i>
                        <span class="caption-subject font-green bold uppercase hidden">Parámetros</span>
                        <span class="caption-helper">Se muestra el listado del par más frecuente</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body form">
                    <div>
                        <div class="dataTable_wrapper table-responsive">
                            <table id="tablaInteraccionFrecuente"
                                   dt-disable-deep-watchers="true"
                                   class="table table-striped table-bordered dt-responsive main-table"
                                   cellspacing="0"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Activo más frecuente">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-bullseye fa-fw font-green"></i>
                        <span class="caption-subject font-green bold uppercase hidden">Parámetros</span>
                        <span class="caption-helper">Se muestra el listado del activo más frecuente</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="dataTable_wrapper table-responsive">
                        <table id="tablaActivoFrecuente"
                               dt-disable-deep-watchers="true"
                               class="table table-striped table-bordered dt-responsive main-table"
                               cellspacing="0"
                               width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="4" heading="Severidad">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-exclamation-triangle fa-fw font-green"></i>
                        <span class="caption-subject font-green bold uppercase hidden">Parámetros</span>
                        <span class="caption-helper">Se muestra la cantidad de interacciones según severidad</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="dataTable_wrapper table-responsive">
                        <table id="tablaSeveridadFrecuente"
                               dt-disable-deep-watchers="true"
                               class="table table-striped table-bordered dt-responsive main-table"
                               cellspacing="0"
                               width="100%">
                        </table>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab index="5" heading="Paciente más frecuente">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="font-green fa fa-users"></i>
                        <span class="caption-subject font-green bold uppercase hidden">Paciente más frecuente</span>
                        <span class="caption-helper">Ranking de pacientes</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                    </div>

                </div>
                <div class="portlet-body">
                    <div>
                        <div class="dataTable_wrapper table-responsive">
                            <table id="tablaPacientes"
                                   dt-disable-deep-watchers="true"
                                   class="table table-striped table-bordered dt-responsive main-table"
                                   cellspacing="0"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
