<span>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <ui-select 
      ng-model="model.user"
      name="user"
      ng-required="required"
      ng-change="selectUser($select.selected)"
      focus-on="FocusUser"
      reset-search-input="false" >
      <ui-select-match placeholder="Busque un Usuario">
        <span ng-bind="$select.selected.nombre"></span>
      </ui-select-match>
      <ui-select-choices repeat="user in users | filter: $select.search" >
        <div ng-bind-html="user.nombre | highlight: $select.search"></div>
        <small ng-bind-html="user.username | highlight: $select.search"></small>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="help-block">Puedes buscar por nombre del usuario y nombre</div>
</span>
