<div ch-focus class="row">
  <h3 class="page-title ng-scope">
  </h3>
  <div class="col-lg-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="font-green" ng-class="config.icon ? config.icon : 'icon-user'" ng-click="esNuevo()"></i>
          <span class="caption-subject font-green bold uppercase">{{ config.title }}</span>
            <span class="caption-helper">{{ config.subtitle }}</span>
        </div>
        <div class="tools">
          <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
        </div>
      </div>
      <div class="portlet-body form">
        <form name="abmForm" class="form-horizontal form-bordered">
          <div sf-schema="schema"
               sf-form="form"
               sf-model="model"
               sf-options="options"
               ch-focus-first >
          </div>
            <div ng-transclude> </div>
            <div class="form-actions">
              <div class="alert alert-warning display-hide" style="display: block;" ng-if="!abmForm.$valid">
                <button class="close" data-close="alert"></button> El formulario tiene errores, por favor revisa más arriba.
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-9">
                  <div class="btn-group">
                    <button type="button" class="btn red" ng-click="cancel(); $event.stopPropagation()">Cancelar</button>
                    <!-- <button type="button" class="btn default" ng-click="limpiar(); $event.stopPropagation()">Limpiar</button> -->
                    <button type="submit" class="btn green" ng-click="submit(); $event.stopPropagation()">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
