<schema-abm service="service" config="config" form="form" >
    <div class="form-group">
    <label class="control-label col-sm-2" for="severidad">Severidad</label>
    <div class="col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
                </span>
            <ui-select ng-model="localModel.severidad" id="severidad">
                <ui-select-match placeholder="Seleccione la severidad">
                    <span>{{$select.selected.nombre}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in severidades | filter: $select.search">
                    <span>{{item.nombre}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="activoA">Interacción</label>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-search"></i>
                </span>
                <ui-select ng-model="localModel.activoA" id="activoA">
                    <ui-select-match placeholder="Seleccione un activo">
                        <span>{{$select.selected.nombre}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in activosA | filter: $select.search">
                        <span>{{item.nombre}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-search"></i>
                </span>
                <ui-select ng-model="localModel.activoB" id="activoB"
                >
                    <ui-select-match placeholder="Seleccione un activo">
                        <span>{{$select.selected.nombre}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in activosB | filter: $select.search" >
                        <span>{{item.nombre}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>
    </div>
</schema-abm>
