<div class="modal-content" ng-init="init()">
    <div class="modal-header">

        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">Nueva institucion</div>
                <div class="tools">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                </div>
            </div>
        </div>

    <div class="modal-body">


        <form>


            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="nombre">Nombre *</label>
                        <input type="string" class="form-control" id="nombre" ng-model="institucion.nombre" placeholder="Ingrese el nombre" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="documento">Documento/Ruc</label>
                        <input type="string" class="form-control" id="documento" ng-model="institucion.documento" placeholder="Ingrese el nombre">
                    </div>
                </div>

            </div>


            <br>
                <legend>
                    DATOS DE UBICACION DE LA INSTITUCION</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input type="string" class="form-control" id="telefono"  ng-model="institucion.telefono" placeholder="Ingrese el teléfono">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Celular">Celular</label>
                            <input type="string" class="form-control" id="Celular"  ng-model="institucion.celular" placeholder="Ingrese el celular">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email"  ng-model="institucion.correo" aria-describedby="emailHelp" placeholder="Ingrese el mail" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="string" class="form-control"  ng-model="institucion.direccion" id="direccion" placeholder="Ingrese la dirección">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                        <label class="control-label col-sm-2" for="pais">País</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                <ui-select ng-model="institucion.pais"
                                           ng-required="true"
                                           focus-on="FocusSeguro"
                                           ng-change="changePais()"
                                           on-select="focusNext()"
                                           name="pais"
                                           id="pais"
                                           reset-search-input="false" >
                                    <ui-select-match placeholder="Seleccione un país">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="pais in (paises | filter: $select.search)" refresh-delay="0" >
                                        <span ng-bind="pais.nombre"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>

                <br />



                <div class="row">
                    <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                        <label class="control-label col-sm-2" for="departamento">Departamento</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                <ui-select ng-model="institucion.departamento"
                                           ng-required="true"
                                           focus-on="FocusSeguro"
                                           ng-change="changeDepartamento()"
                                           on-select="focusNext()"
                                           name="departamento"
                                           id="departamento"
                                           reset-search-input="false" >
                                    <ui-select-match placeholder="Seleccione una departamento">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="departamento in departamentos"
                                                       refresh="searchDepartamentos($select.search)"
                                                       refresh-delay="0" >
                                        <span ng-bind="departamento.nombre"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                </div>

            </br>

                <div class="row">
                    <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                        <label class="control-label col-sm-2" for="distrito">Distrito</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                <ui-select  ng-model="institucion.distrito"
                                           ng-required="true"
                                           focus-on="FocusSeguro"
                                           on-select="focusNext()"
                                            ng-change="changeDistrito()"
                                           name="distrito"
                                           id="distrito"
                                           reset-search-input="false" >
                                    <ui-select-match placeholder="Seleccione un distrito">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="distrito in distritos"
                                                       refresh="searchDistrito($select.search)"
                                                       refresh-delay="0" >
                                        <span ng-bind="distrito.nombre"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                </div>

            </br>

                <div class="row">
                    <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                        <label class="control-label col-sm-2" for="localidad">Localidad</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                <ui-select ng-model="institucion.localidad"
                                           ng-required="true"
                                           focus-on="FocusSeguro"
                                           on-select="focusNext()"
                                           name="localidad"
                                           id="localidad"
                                           reset-search-input="false" >
                                    <ui-select-match placeholder="Seleccione una localidad">
                                        <span ng-bind="$select.selected.nombre"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="localidad in localidades"
                                                       refresh="searchLocalidad($select.search)"
                                                       refresh-delay="0" >
                                        <span ng-bind="localidad.nombre"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                </div>





            </fieldset>

            </br>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-12">
                        <div class="btn-group" >
                            <button type="button" class="btn red" ng-click="cancel()">Cancelar</button>
                            <button type="submit" class="btn green" ng-click="aceptar()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>

    </div>
</div>
