<div class="modal-content" data-keyboard="false" data-backdrop="static" ng-init="init()">
    <div class="modal-header">

        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">Nuevo Caso</div>
                <div class="tools">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                </div>
            </div>
        </div>

    <div class="modal-body">

        <form class="col-md-12">
            <label class="control-label" style="font-weight: bold;" >Producto:</label> {{textos.producto }}<br />
            <label class="control-label" style="font-weight: bold;" > {{labels.nombre }}:</label> {{textos.nombre }}<br />
        </form>


        <div class="col-md-12">
            <!-- BEGIN CONDENSED TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-picture"></i>Datos del Proceso </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-condensed table-hover">

                            <thead>
                            <tr>
                                <th> Tipo de Proceso </th>
                                <th>{{proceso.tipoProceso}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> Proceso </td>
                                <td> {{proceso.producto}} </td>
                            </tr>
                            <tr>
                                <td> Fecha de Procesamiento </td>
                                <td> {{proceso.fechaProcesamiento | moment : 'DD/MM/YYYY [a las] HH:mm'}} </td>
                            </tr>
                            <tr class="form-inline">
                                <td> Nro. Expediente </td>
                                <td> <input type="string" class="form-control" ng-model="newProceso.numero" placeholder="Número de expediente" id="numero" required> <small style="white-space: nowrap;" class="bold">Formato: 100/17</small> </td>
                            </tr>

                            <tr>

                                <td> Comentario del proceso </td>
                                <td> <textarea type="string" class="form-control" ng-model="newProceso.observacion" id="comentario" rows="8"/> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END CONDENSED TABLE PORTLET-->
        </div>
        <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span class="glyphicon glyphicon-file"></span>Adjuntar documento/s
                </div>

                <div class="tools">
                    <a href="javascript:;" data-original-title="" title=""> </a>
                </div>
                <div class="actions">
                    <label class="btn" for="my-file-selector">
                        <span class="glyphicon glyphicon-plus pull-left"></span>
                        <!-- ngf-multiple="true" ngf-keep="'distinct'" -->
                        <input id="my-file-selector" type="file" ngf-select
                               ng-model="files" accept="application/pdf"
                               ngf-model-options="{updateOn: 'change', allowInvalid: false}"
                               ngf-max-size="'100MB'" style="display:none;">
                        Agregar archivo/s
                    </label>

                </div>
            </div>

            <div class="portlet-body">
                <p class="text-info">Solo se admite/n archivo/s PDF hasta 100MB</p>
                <div class="table-scrollable" ng-show="files">
                    <div>
                        <div style="margin-bottom: 40px">
                            <table class="table" >
                                <thead>
                                <tr>
                                    <th width="auto">Nombre</th>
                                    <th>Tamaño</th>
                                    <th>Eliminar
                                        <button type="button" ng-show="files.length > 0" class="btn btn-danger btn-xs" ng-click="files=[]">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-hide="files.name" ng-repeat="item in files">
                                    <td><strong>{{ item.name }}</strong></td>
                                    <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="files.splice( files.indexOf(item), 1 );">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-show="files.name">
                                    <td><strong>{{ files.name }}</strong></td>
                                    <td nowrap>{{ files.size/1024/1024|number:2 }} MB</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="files = undefined">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <td>
                <div ng-show="files"class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': progress + '%' }"></div>
                </div>
            </td>
        </div>
         <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-8 col-md-12">
                    <div class="btn-group" >
                        <button type="button" class="btn red" ng-click="cancel()">Cancelar</button>
                        <button type="submit" class="btn green" ng-click="aceptar()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </div>
</div>
</div>
