<div class="modal-content">
    <div class="modal-header">

        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">Nuevo ciudadano</div>
                <div class="tools">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                </div>
            </div>
        </div>

    <div class="modal-body" ng-init="init()">


        <form>


            <div class="row">

                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="nombres">Nombres y Apellidos *</label>
                        <input type="string" class="form-control"  ng-model="ciudadano.nombre" id="nombre" onkeypress="return !SoloNumeros(event);" placeholder="Ingrese el nombre" required>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="tipoDocumento">Tipo Documento *</label>
                        <select name="tipoDoc" class="bs-select form-control" id="tipoDocumento"
                                ng-model="ciudadano.tipoDocumento" required>

                            <option ng-repeat="tipo in tipoDocumentos" value="{{tipo.value}}">{{tipo.nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="documento">Nro Documento *</label>
                        <input type="string" class="form-control" id="documento" ng-model="ciudadano.documento" onkeypress="return SoloNumeros(event);" placeholder="Ingrese el nro de documento" required>
                    </div>
                </div>

            </div>

            <legend></legend>


            <br>
                <legend>DATOS DE UBICACION DEL CIUDADANO</legend>



                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="telefono">Tel. Particular</label>
                            <input type="string" class="form-control" id="telefono"  ng-model="ciudadano.telefono" placeholder="Ingrese el teléfono particular">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Fax">Celular</label>
                            <input type="string" class="form-control" id="Fax"  ng-model="ciudadano.celular" placeholder="Ingrese el celular">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email"  ng-model="ciudadano.correo" aria-describedby="emailHelp" placeholder="Ingrese el mail" required>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="string" class="form-control"  ng-model="ciudadano.direccion" id="direccion" placeholder="Ingrese la dirección">
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                    <label class="control-label col-sm-2" for="pais">País</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                            <ui-select ng-model="ciudadano.pais"
                                       ng-required="true"
                                       focus-on="FocusSeguro"
                                       ng-change="changePais()"
                                       on-select="focusNext()"
                                       name="pais"
                                       id="pais"
                                       reset-search-input="false" >
                                <ui-select-match placeholder="Seleccione un país">
                                    <span ng-bind="$select.selected.nombre"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="pais in (paises | filter: $select.search)" refresh-delay="0" >
                                    <span ng-bind="pais.nombre"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>

            <br />


            <div class="row">
                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                    <label class="control-label col-sm-2" for="departamento">Departamento</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                            <ui-select ng-model="ciudadano.departamento"
                                       ng-required="true"
                                       focus-on="FocusSeguro"
                                       ng-change="changeDepartamento()"
                                       on-select="focusNext()"
                                       name="departamento"
                                       id="departamento"
                                       reset-search-input="false" >
                                <ui-select-match placeholder="Seleccione una departamento">
                                    <span ng-bind="$select.selected.nombre"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="departamento in departamentos"
                                                   refresh="searchDepartamentos($select.search)"
                                                   refresh-delay="0" >
                                    <span ng-bind="departamento.nombre"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </div>

            </br>

            <div class="row">
                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                    <label class="control-label col-sm-2" for="distrito">Distrito</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                            <ui-select  ng-model="ciudadano.distrito"
                                        ng-required="true"
                                        focus-on="FocusSeguro"
                                        on-select="focusNext()"
                                        ng-change="changeDistrito()"
                                        name="distrito"
                                        id="distrito"
                                        reset-search-input="false" >
                                <ui-select-match placeholder="Seleccione un distrito">
                                    <span ng-bind="$select.selected.nombre"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="distrito in distritos"
                                                   refresh="searchDistrito($select.search)"
                                                   refresh-delay="0" >
                                    <span ng-bind="distrito.nombre"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </div>

            </br>

            <div class="row">
                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                    <label class="control-label col-sm-2" for="localidad">Localidad</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                            <ui-select ng-model="ciudadano.localidad"
                                       ng-required="true"
                                       focus-on="FocusSeguro"
                                       on-select="focusNext()"
                                       name="localidad"
                                       id="localidad"
                                       reset-search-input="false" >
                                <ui-select-match placeholder="Seleccione una localidad">
                                    <span ng-bind="$select.selected.nombre"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="localidad in localidades"
                                                   refresh="searchLocalidad($select.search)"
                                                   refresh-delay="0" >
                                    <span ng-bind="localidad.nombre"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

            </div>






            </fieldset>

            </br>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-12">
                        <div class="btn-group" >
                            <button type="button" class="btn red" ng-click="cancel()">Cancelar</button>
                            <button type="submit" class="btn green" ng-click="aceptar()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>

    </div>
</div>
