<div class="modal-content">
    <div class="modal-header">

        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">Lista de Procesos</div>
                <div class="tools">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                </div>
            </div>
        </div>

    <div class="modal-body" ng-init="init()">


        <form>

            <div class="row">

                <div class="col-lg-12">
                    <div class="form-group">
                        <label style="font-weight: bold;">Producto:</label>
                        {{proceso.nombreProducto}}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Proceso">Proceso</label>
                        <input type="string" class="form-control" id="Proceso" ng-model="searchText.nombre" placeholder="Ingrese el proceso" >
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="tipoProceso">Tipo de proceso</label>
                        <select class="bs-select form-control" name="tipoProceso" id="tipoProceso"
                                ng-model="proceso.tipoProceso" required>
                            <option ng-repeat="tipoProceso in tipoProcesos" value="{{tipoProceso.value}}">{{tipoProceso.nombre}}</option>
                        </select>

                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="buscar">.</label>
                        <button type="submit" class="btn green form-control" id="buscar">Buscar</button>
                    </div>
                </div>


            </div>


            <br>


            <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table3">
                <div class="form-body">

                    <!--Contiene los datos para la busqueda por usuario-->
                    <table class="table table-bordered table-striped" width="100%">

                        <thead>
                        <tr>

                            <td>
                                <i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                                <a href="#" ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                    Proceso
                                    <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>

                            <td>
                                <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                                <a href="#" ng-click="sortType = 'tipo'; sortReverse = !sortReverse">
                                    Tipo de Proceso
                                    <span ng-show="sortType == 'tipo' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'tipo' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="proceso in  procesos | orderBy:sortType:sortReverse | filter:searchText">

                            <td>
                                <a ng-click="seleccionarTipoProducto(proceso)">
                                    {{ proceso.nombre }}
                                </a>
                            </td>
                            <td>{{ proceso.tipo }}
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </form>




            </fieldset>

        </form>


    </div>

    </div>
</div>
