<!--<h3 class="page-title ng-scope">BPM-->
    <!--<small>bpm</small>-->
<!--</h3>-->
<div class="row">

    <!--Primer grupo del buscador-->
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Nuevo proceso</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="categoria">Categoría:</label>
                            <div class="col-sm-10">
                            <select name="categoria" class="bs-select form-control" id="categoria" ng-change="changeCategoria()"
                                    ng-model="proceso.categoria" required>
                                <option ng-repeat="categoria in categorias" value="{{categoria}}">{{categoria}}</option>
                            </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="control-label col-sm-2" for="solicitante">{{proceso.categoria}}:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    <ui-select ng-model="proceso.solicitante"
                                               ng-required="true"
                                               focus-on="FocusSolicitante"
                                               on-select="selectSolicitante($item, $model)"
                                               name="solicitante"
                                               id="solicitante"
                                               reset-search-input="false"
                                               ng-disabled="proceso.categoria == 'Otros'">
                                        <ui-select-match allow-clear="{{proceso.categoria != 'Otros'}}" placeholder="Seleccione un solicitante">
                                            <span ng-bind="$select.selected.nombre"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="solicitante in solicitantes"
                                                           refresh="searchSolicitante($select.search)"
                                                           refresh-delay="0">
                                            <span ng-bind="solicitante.nombre"></span>
                                            <small>
                                                <br />
                                                {{solicitante.tipoDocumento}}
                                                <span ng-if="!solicitante.tipoDocumento">Nro. Documento:</span>
                                                <span ng-bind="solicitante.documento"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="help-block" ng-if="!ciudadano.nombre && proceso.categoria != 'Otros'">
                                    Puede buscar por nombre de solicitante o documento.
                                </div>
                            </div>
                            <div class="btn-group-vertical btn-group-sm "  aria-label="..." role="group">
                                <a  class="btn green btn-primary" style="text-align: left;" ng-click="seleccionarSolicitante()" title="Seleccionar solicitante">
                                    <i class="fa fa-plus"></i>
                                    Seleccionar
                                </a>
                                <a ng-if="proceso.categoria != 'Otros'" style="text-align: left;" class="btn btn-primary" ng-click="addNewSolicitante()" title="Agregar solicitante">
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                </a>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
