<div class="portlet light bordered" ng-init="init()">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">Proceso</span>
            <span class="caption-helper">Aquí puede editar los datos del proceso</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">

            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('expediente')}">
                                <label class="control-label col-sm-2" for="expediente">Nro de Expediente</label>
                                <div class="col-sm-6">
                                    <input type="string" class="form-control"  ng-model="proceso.numero" id="expediente" placeholder="Nro de Expediente"> <small class="bold">Formato: 100/17</small>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('observacion')}">
                                <label class="control-label col-sm-2" for="observacion">Observación</label>
                                <div class="col-sm-6">
                                    <textarea type="string" class="form-control"  ng-model="proceso.observacion" id="observacion" placeholder="Observación"/>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('producto')}">
                                <label class="control-label col-sm-2" for="producto">Producto</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                              <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                              </span>
                                        <ui-select ng-model="p.producto"
                                                   ng-required="true"
                                                   focus-on="FocusSeguro"
                                                   ng-change="changeProducto()"
                                                   on-select="focusNext()"
                                                   name="producto"
                                                   id="producto"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un producto">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="producto in (productos | filter: $select.search)" refresh-delay="0" >
                                                <span ng-bind="producto.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('tipoProducto')}">
                                <label class="control-label col-sm-2" for="tipoProducto">Tipo Producto</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                                  <span class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                  </span>
                                        <ui-select ng-model="p.tipoProducto"
                                                   ng-required="true"
                                                   focus-on="FocusSeguro"
                                                   on-select="focusNext()"
                                                   name="tipoProducto"
                                                   id="tipoProducto"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un tipo de producto">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="tipoProducto in (tipoProductos | filter: $select.search)" refresh-delay="0" >
                                                <span ng-bind="tipoProducto.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <legend></legend>

                        <br>

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('categoria')}">
                                <label class="control-label col-sm-2" for="categoria">Categoría</label>
                                <div class="col-sm-6">
                                    <select name="categoria" class="bs-select form-control" id="categoria" ng-change="changeCategoria()"
                                            ng-model="p.categoria" required>
                                        <option ng-repeat="categoria in categorias" value="{{categoria}}">{{categoria}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group" ng-class="{ 'has-error' : isValid('categoria')}">
                                <label class="control-label col-sm-2" for="solicitante">{{p.categoria}}</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                        <ui-select ng-model="p.solicitante"
                                                   ng-required="true"
                                                   focus-on="FocusSolicitante"
                                                   on-select="selectSolicitante($item, $model)"
                                                   name="solicitante"
                                                   id="solicitante"
                                                   reset-search-input="false"
                                                   ng-disabled="p.categoria == 'OTROS'">
                                            <ui-select-match allow-clear="{{p.categoria != 'OTROS'}}" placeholder="Seleccione un solicitante">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="solicitante in solicitantes"
                                                               refresh="searchSolicitante($select.search)"
                                                               refresh-delay="0">
                                                <span ng-bind="solicitante.nombre"></span>
                                                <small>
                                                    <br />
                                                    {{solicitante.tipoDocumento}}
                                                    <span ng-if="!solicitante.tipoDocumento">Nro. Documento:</span>
                                                    <span ng-bind="solicitante.documento"></span>
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-if="!ciudadano.nombre && proceso.categoria != 'Otros'">
                                        Puede buscar por nombre de solicitante o documento.
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <!--<a class="btn green btn-primary btn-xs" ng-click="seleccionarSolicitante()" title="Agregar Detalle">
                                        <i class="fa fa-plus"></i>
                                        Seleccionar
                                    </a>-->
                                    <div ng-if="p.categoria != 'OTROS'">
                                        <a class="btn btn-primary" ng-click="addNewSolicitante()" title="Agregar Detalle">
                                            <i class="fa fa-plus"></i>
                                            Agregar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row" >
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="actividades_jstree"></label>
                                <div class="col-md-6">
                                    <div class="portlet yellow-lemon box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-cogs"></i>Grupos a los que fueron providenciados el proceso </div>
                                        </div>
                                        <div class="portlet-body">

                                            <div id="actividades_jstree">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <legend></legend>

                        <br>
                        <div class="row" >
                            <div class="form-group">
                                <label class="control-label col-sm-2"></label>
                                <div class="col-md-6">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="glyphicon glyphicon-file"></span>Documento/s adjuntado/s
                                            </div>

                                            <div class="tools">
                                                <a href="javascript:;" data-original-title="" title=""> </a>
                                            </div>
                                            <div class="actions">
                                                <label class="btn" for="my-file-selector">
                                                    <span class="glyphicon glyphicon-plus pull-left"></span>
                                                    <!-- ngf-multiple="true" ngf-keep="'distinct'" -->
                                                    <input id="my-file-selector" type="file" ngf-select
                                                           ng-model="files" accept="application/pdf"
                                                           ngf-model-options="{updateOn: 'change', allowInvalid: false}"
                                                           ngf-max-size="'100MB'" style="display:none;">
                                                    Agregar archivo/s
                                                </label>

                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <p class="text-info">Solo se admite/n archivo/s PDF hasta 100MB</p>
                                            <div class="table-scrollable" ng-show="p.documentos.length > 0">
                                                <div>
                                                    <div style="margin-bottom: 40px">
                                                        <table class="table" >
                                                            <thead>
                                                            <tr>
                                                                <th width="auto">Nombre</th>
                                                                <th>Tamaño</th>
                                                                <th>Eliminar
                                                                    <button type="button" ng-show="p.documentos.length > 0" class="btn btn-danger btn-xs">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="item in p.documentos">
                                                                <td><a href="javascript:;"  ng-click="descargarDocumento()"> {{item.nombre}}</a></td>
                                                                <td nowrap><span ng-show="item.size">
                                                                    {{ item.size/1024/1024|number:2 }} MB</span></td>
                                                                <td nowrap>
                                                                    <button type="button" class="btn btn-danger btn-xs">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="p.documentos.length > 0">
                                        <div class="form-group" ng-class="{ 'has-error' : isValid('categoria')}">
                                            <label class="control-label col-sm-2" for="categoria">Documentos</label>
                                            <div class="col-sm-6">
                                                <div class="inbox-attached">
                                                    <div>
                                                        <a href="javascript:;"  ng-click="descargarDocumento()"> {{p.documentos[0].nombre}}</a>
                                                        <a class="btn btn-danger btn-xs" ng-click="removeDocumento()">
                                                            <i class="fa fa-trash"></i>
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="!(p.documentos.length > 0)">
                            <div class="form-group" ng-class="{ 'has-error' : isValid('expediente')}">
                                <label class="control-label col-sm-2" for="expediente">Adjuntar documento</label>
                                <div class="col-sm-6">
                                    <input type="file" nv-file-select="" uploader="uploader" /></small>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="!(p.documentos.length > 0)">
                            <div class="form-group" ng-class="{ 'has-error' : isValid('observacion')}">
                                <label class="control-label col-sm-2" for="adjunto"></label>
                                <div class="col-sm-6">
                                    <table id="adjunto" class="table">
                                        <thead>
                                        <tr>
                                            <th width="50%">Nombre</th>
                                            <th ng-show="uploader.isHTML5">Tamaño</th>
                                            <th ng-show="uploader.isHTML5">Progreso</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Subir
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove(); removeDocumento(item)">
                                                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="btn-group" >
                                    <button type="submit" class="btn green" ng-click="aceptar()">Guardar</button>
                                    <button type="button" class="btn default" ng-click="cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>


