<div class="modal-content">
    <div class="modal-header">

        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">Datos del usuario</div>
                <div class="tools">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                </div>
            </div>
        </div>

    <div class="modal-body">

        <form class="m-t" role="form" >

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Nombre y Apellido:</label>
                    <div class="col-sm-8">
                        {{usuario.nombre }}

                    </div>
                </div>

            </div>


            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">CI:</label>
                    <div class="col-sm-8">
                        {{usuario.ci}}

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Nombre de usuario:</label>
                    <div class="col-sm-8">
                        {{usuario.nombreUsuario}}

                    </div>
                </div>
            </div>

                <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Mail:</label>
                    <div class="col-sm-8">
                        {{usuario.mail}}

                    </div>
                </div>

                </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Dirección:</label>
                    <div class="col-sm-8">
                        {{usuario.direccion}}
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Ciudad:</label>
                    <div class="col-sm-8">
                        {{usuario.ciudad}}
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;" >Celular:</label>
                    <div class="col-sm-8">
                        {{usuario.celular}}

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Rol:</label>
                    <div class="col-sm-8">
                        {{usuario.rol}}
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Grupo de Usuario:</label>
                    <div class="col-sm-8">
                        {{usuario.grupo}}

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4" style="font-weight: bold;">Tipo de Usuario:</label>
                    <div class="col-sm-8">
                        {{usuario.tipoUsuario}}
                    </div>
                </div>

            </div>


            <!--Empieza tabla de historicos-->
            <div>
                <table class="table table-bordered table-striped" width="100%">

                    <thead>
                    <tr>

                        <td>
                            <i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                            <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                                Ver
                                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>

                        <td>
                            <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                            <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                                Productos
                                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>

                        <td>
                            <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                            <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                                Proceso Predet.
                                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cliente in  filteredClientes | orderBy:sortType:sortReverse | filter:searchFish">

                        <td><button class="btn btn-warning" ng-click="editCliente(cliente)">
                        <i class="fa fa-edit"></i> </button>
                        </td>
                        <td>{{ cliente.cedula }}</td>
                        <td>{{ cliente.nombre }}</td>
                    </tr>
                    </tbody>

                </table>


            </div>


            <!--Termina tabla de historicos-->

            <div class="row">
                <div class="col-md-12 offset-md-3">
                    <div class="well well-sm well-primary pull-right">
                        <div>
                            <button type="submit" class="btn btn-success btn-sm" ng-click="ok()">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Nueva Busqueda
                            </button>

                            <button type="submit" class="btn green" ng-click="ok()">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Nuevo Prospecto
                            </button>

                            <button type="button" class="btn-sm" ng-click="cancel()">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </form>
    </div>

    </div>
</div>
