<!--<h3 class="page-title ng-scope">BPM-->
    <!--<small>bpm</small>-->
<!--</h3>-->
<div class="row">

    <!--Primer grupo del buscador-->
    <div class="col-lg-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Nuevo proceso</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">

                        <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                            <label class="control-label col-sm-2" for="categoria">Categoría</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                    <ui-select ng-model="proceso.categoria"
                                               ng-required="true"
                                               focus-on="FocusSeguro"
                                               ng-change="changeCategoria()"
                                               on-select="focusNext()"
                                               name="categoria"
                                               id="categoria"
                                               reset-search-input="false" >
                                        <ui-select-match placeholder="Seleccione una categoría">
                                            <span ng-bind="$select.selected.nombre"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="categoria in categorias"
                                                           refresh="searchSeguros($select.search)"
                                                           refresh-delay="0" >
                                            <span ng-bind="categoria.nombre"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <!--Contiene los datos para la busqueda por usuario-->

                        <div ng-show="categoria_seleted=='U'">

                                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                                    <label class="control-label col-sm-2" for="area">Área</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                            <ui-select ng-model="proceso.area"
                                                       ng-required="true"
                                                       focus-on="FocusSeguro"
                                                       on-select="focusNext()"
                                                       name="area"
                                                       id="area"
                                                       reset-search-input="false" >
                                                <ui-select-match placeholder="Seleccione un área">
                                                    <span ng-bind="$select.selected.nombre"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="area in areas"
                                                                   refresh="searchSeguros($select.search)"
                                                                   refresh-delay="0" >
                                                    <span ng-bind="area.nombre"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : isValid('medico')}">
                                    <label class="control-label col-sm-2">Sub-Área</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                            <ui-select ng-model="proceso.subarea"
                                                       ng-required="true"
                                                       focus-on="FocusSeguro"
                                                       on-select="focusNext()"
                                                       name="subarea"
                                                       id="subarea"
                                                       reset-search-input="false" >
                                                <ui-select-match placeholder="Seleccione un sub-área">
                                                    <span ng-bind="$select.selected.nombre"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="subarea in subareas"
                                                                   refresh="searchSeguros($select.search)"
                                                                   refresh-delay="0" >
                                                    <span ng-bind="subarea.nombre"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : isValid('seguro')}">
                                    <label class="control-label col-sm-2" for="usuario">Usuario</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                          <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                          </span>
                                            <ui-select ng-model="proceso.usuario"
                                                       ng-required="true"
                                                       focus-on="FocusSeguro"
                                                       on-select="focusNext()"
                                                       name="usuario"
                                                       id="usuario"
                                                       reset-search-input="false" >
                                                <ui-select-match placeholder="Seleccione un usuario">
                                                    <span ng-bind="$select.selected.nombre"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="usuario in usuarios"
                                                                   refresh="searchSeguros($select.search)"
                                                                   refresh-delay="0" >
                                                    <span ng-bind="usuario.nombre"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>

                        </div>

                        <!--Buscador por prospecto-->
                        <div ng-show="categoria_seleted=='P'">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="apellido">Apellido</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="apellido" name="userName" ng-model="prospecto.apellido" placeholder="Especifique el Apellido del Prospecto a buscar">
                                    </div>
                                </div>
                            </div>

                         </div>


                        <!--Buscador por ciudadano-->
                        <div ng-show="categoria_seleted=='C'">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nombre_ciudadano">Nombre:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="nombre_ciudadano" name="nombre_ciudadano" ng-model="ciudadano.nombre" placeholder="Nombre Ciudadano">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-2" for="apellido_ciudadano">Apellido:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="apellido_ciudadano" name="apellido_ciudadano" ng-model="ciudadano.apellido" placeholder="Apellido Ciudadano">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nro_documento">Nro. documento</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="nro_documento" name="nro_documento" ng-model="ciudadano.nro_documento" placeholder="Nro. documento">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="categoria">Tipo documento</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <ui-select ng-model="ciudadano.tipoDocumento"
                                                   ng-required="true"
                                                   focus-on="FocusSeguro"
                                                   ng-change="changeCategoria()"
                                                   on-select="focusNext()"
                                                   name="tipoDocumento"
                                                   id="tipoDocumento"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un tipo de documento">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="tipoDocumento in tipoDocumentos"
                                                               refresh="searchSeguros($select.search)"
                                                               refresh-delay="0" >
                                                <span ng-bind="tipoDocumento.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-2" for="paisDocumento">Pais documento</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <ui-select ng-model="ciudadano.pais"
                                                   ng-required="true"
                                                   focus-on="FocusSeguro"
                                                   ng-change="changeCategoria()"
                                                   on-select="focusNext()"
                                                   name="paisDocumento"
                                                   id="paisDocumento"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione el pais">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="pais in paises"
                                                               refresh="searchSeguros($select.search)"
                                                               refresh-delay="0" >
                                                <span ng-bind="pais.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!--Buscador por empresa-->
                        <div ng-show="categoria_seleted=='E'">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nombre_empresa">Nombre:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                          <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="nombre_empresa" name="nombre_empresa" ng-model="empresa.nombre" placeholder="Nombre de empresa">

                                        <a class="btn btn-primary btn-xs" ng-click="addNewEmpresa()" title="Agregar Detalle">
                                            <i class="fa fa-plus"></i>
                                            Agregar
                                        </a>

                                    </div>
                                </div>


                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-2" for="ruc">R.U.C</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="ruc" name="ruc" ng-model="empresa.ruc" placeholder="Ruc">
                                    </div>
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="control-label col-sm-2">Contacto</label>
                                <div class="col-sm-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nombre_contacto">Nombre</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="nombre_contacto" name="nombre_contacto" ng-model="empresa.contacto.nombre" placeholder="Nombre del contacto">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-sm-2" for="contacto_apellido">Apellido</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                      </span>
                                        <input type="text" id="contacto_apellido" name="contacto_apellido" ng-model="empresa.contacto.apellido" placeholder="Apellido del contacto">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="col-lg-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Búsqueda de Casos</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table2">
                    <div class="form-body">


                        <!--Buscador presente en todas las categorias-->

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="nroCaso">Nº de Caso</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                                          <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                          </span>
                                    <input type="text" id="nroCaso" name="nroCaso" ng-model="casos.nroCaso" placeholder="Especifique el nº de caso">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comentarios">Comentarios</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                                          <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                          </span>
                                    <input type="text" id="comentarios" name="comentarios" ng-model="casos.comentarios" placeholder="Comentarios">
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<div class="row" >


    <div class="col-lg-6" ng-show="categoria_seleted=='U'">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Búsqueda de Usuario</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table3">
                    <div class="form-body">

                        <!--Contiene los datos para la busqueda por usuario-->
                        <div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="ci">CI:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                                          <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                          </span>
                                        <input type="text" id="ci" name="ci" ng-model="usuario.ci" placeholder="CI del usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Nombre:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                                          <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                          </span>
                                        <input type="text" id="nombre_usuario" name="nombre_usuario" ng-model="usuario.nombre" placeholder="Nombre del usuario">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-1 col-md-12">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-success" ng-click="buscar()">Buscar</button>
                        <button type="submit" class="btn green" ng-click="nuevoProspecto()">Nuevo Prospecto</button>
                        <button type="submit" class="btn blue" ng-click="facturar()">Llamada Anónima</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

