<div class="col-md-10" ng-init="init()">
    <div class="inbox-body">
        <div class="inbox-content"><div class="inbox-header inbox-view-header">
            <h1 class="pull-left" style="font-weight: bold;color: black;">{{datos.tipoProductoNombre}}
            </h1>
            <div class="pull-right" ng-show="render.mostrarBotones">
                <button data-messageid="23" class="btn green reply-btn" ng-click="irA('providenciar')">
                    <i class="fa fa-arrow-right reply-btn"></i> Providenciar</a>
                </button>
                <button data-messageid="23" class="btn red reply-btn" ng-click="irA('rechazar')">
                    <i class="fa fa-arrow-right reply-btn"></i> Rechazar</a>
                </button>
                <button data-messageid="23" class="btn blue reply-btn" ng-click="irA('finalizar')">
                    <i class="fa fa-arrow-right reply-btn"></i> Finalizar</a>
                </button>
            </div>
        </div>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>

            <div class="inbox-view-info">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/avatar.png" class="inbox-author">
                        <span class="sbold">{{datos.grupoOrigen}} </span>
                        <span>&lt;{{datos.usuarioEnvio}}&gt; </span> para
                        <span class="sbold"> {{datos.grupoDestino}}</span> {{datos.fechaInicio | moment : 'DD/MM/YYYY [a las] HH:mm'}}
                    </div>
                </div>
            </div>

            <hr>

            <div class="inbox-view">
                <p class="lead" ng-bind-html="datos.comentario"></p>
            </div>

            <hr>

            <div ng-show="render.mostrarDocumentosEnvio">
                <div>
                    <span>Documentos</span>

                    <table class="table table-bordered table-hover" id="tab_logic">
                        <a href="javascript:;" ng-repeat="documento in documentosEnvio" ng-click="descargarDocumento(documento.id)"  class="list-group-item"> 
                            {{documento.nombre}}<i class="fa fa-file-pdf-o fa-fw"></i>
                        </a>
                        <br>
                    </table>

                </div>
            </div>
    </div>


    <div class="list-group-item" style="background-color: #F0F8FF" ng-show="render.mostrarRespuesta">
        <div class="inbox-view-info">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/avatar.png" class="inbox-author">
                    <span class="sbold">{{respuesta.grupoOrigen}} </span>
                    <span>&lt;{{respuesta.usuarioRecibo}}&gt; </span> para
                    <span class="sbold"> {{respuesta.grupoDestino}}</span> {{respuesta.fechaFin | moment : 'DD/MM/YYYY [a las] HH:mm'}}
                </div>
            </div>
        </div>
        <div class="inbox-view">
            <p class="lead" ng-bind-html="respuesta.comentario"></p>
        </div>
        <hr>
        <div ng-show="render.mostrarDocumentosRecibo">
            <div>
                <span>Documentos</span>
                <table class="table table-bordered table-hover" id="tab_logic2">
                    <a href="javascript:;" ng-repeat="documento in documentosRecibo" ng-click="descargarDocumento(documento.id)"  class="list-group-item">
                        {{documento.nombre}}<i class="fa fa-file-pdf-o fa-fw"></i>
                    </a>
                    <br>
                </table>
            </div>
        </div>
    </div>

</div>





