<div class="col-md-10" ng-init="init()">
    <div class="inbox-body">

        <div class="inbox-content">
            <div class="inbox-header inbox-view-header">
                <h1 class="pull-left" style="font-weight: bold;color: black;">{{miProceso.tipoProducto.nombre}}
                </h1>
                <div class="pull-right">
                    <button data-messageid="23" class="btn blue reply-btn" ng-click="generarCaratula()">
                        <i class="fa fa-arrow-right reply-btn"></i> Generar Caratula
                    </button>
                </div>
            </div>

            <hr>
            <hr>
            <hr>
            <hr>
            <hr>

            <div class="inbox-view-info">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/avatar.png" class="inbox-author">
                        <span class="sbold">{{miProceso.solicitante.nombre}} </span>
                        <span>&lt;{{miProceso.solicitante.documento}}&gt; </span> para
                        <span class="sbold">{{ miProceso.solicitante.para}} </span> el {{miProceso.fechaInicio | moment : 'DD/MM/YYYY [a las] HH:mm'}}
                    </div>
                </div>
            </div>

            <hr>

            <div class="inbox-view">
                {{miProceso.observacion}}
            </div>

            <hr>

            <div class="inbox-attached">
                <div class="margin-bottom-15">
                    <strong>Generado por: </strong>{{miProceso.usuarioCreacion.nombre}}
                    <div ng-show="mostrarDocumentos">
                        <strong>Archivo: </strong>
                        <a href="javascript:;" ng-click="descargarDocumento()">
                            {{miProceso.documentos[0].nombre}} <i class="fa fa-file-pdf-o fa-fw"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>


</div>


<div class="col-md-12">
    <div class="portlet yellow-lemon box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Grupos a los que fueron providenciados el proceso </div>
        </div>
        <div class="portlet-body">

            <div id="actividades_jstree">
            </div>

        </div>
    </div>
</div>
