<div class="inbox-body" ng-init="init()">
    <div class="inbox-header">
        <h1 class="pull-left">Mis procesos asignados</h1>
    </div>

    <div class="inbox-content">
        <div class="columns columns-right pull-right">
          <a class="btn blue btn-circle btn-icon-only btn-default btn-margin-left"
            ng-click="restartPagination()"
            title="Actualizar procesos" >
            <i class="glyphicon glyphicon-refresh icon-refresh"></i>
          </a>
        </div>
        <div class="inputs pull-right">
          <div class="portlet-input input-inline input-large">
            <div class="input-icon">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control input-circle" placeholder="Buscar..." ng-model="paginado.globalSearch" ng-change="restartPagination()" />
            </div>
            <br />
          </div>
        </div>

        <table class="table table-striped table-advance table-hover" id="main-table">
            <thead>
                <tr>
                    <th colspan="8">
                        <div class="btn-group input-actions">
                            <a class="btn btn-sm blue btn-outline dropdown-toggle sbold" href="javascript:;" data-toggle="dropdown"> Procesos
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" ng-click="restartPagination('RECIBIDO')">
                                        <i class="fa fa-envelope"></i> Recibidos </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="restartPagination('ENVIADO')">
                                        <i class="fa fa-location-arrow"></i> Enviados </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;" ng-click="restartPagination('PENDIENTE')">
                                        <i class="fa fa-info-circle"></i> Pendientes </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="restartPagination('FINALIZADO')">
                                        <i class="fa fa-check-circle"></i> Finalizados </a>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="star-referencia">
                            <b>Referencia:</b>
                            <span style="color: green">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            En tiempo
                            <span style="color: yellow">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            Próximo
                            <span style="color: red">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            En falta
                        </div>-->
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="proceso-title">Prioridad</th>
                    <th class="proceso-title">Expediente</th>
                    <th class="proceso-title">Solicitante</th>
                    <th class="proceso-title">Tema</th>
                    <!--<th class="proceso-title">Estado</th>-->
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td class="button-column pagination-footer" colspan="8">
                        <a class="btn btn-sm blue btn-outline" ng-click="!buttonRemove || paginacionRemove()" ng-disabled="!buttonRemove">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="btn btn-sm blue btn-outline" ng-click="!buttonAdd || paginacionAdd()" ng-disabled="!buttonAdd">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <span class="pagination-info"> {{paginado.start+1}}-{{paginado.show}} </span>
                        <span class="pagination-info" ng-show="paginado.globalSearch">(total filtrado: {{procesosPaginados.recordsFiltered}})</span>
                        <span class="pagination-info">de un total de {{procesosPaginados.recordsTotal}} registros</span>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr role="row" ng-repeat="miproceso in procesosPaginados.data" ng-click="viewProceso(miproceso)" onmouseover="this.style.cursor='pointer'">



                    <!--<td class="inbox-small-cells" style="color: {{miproceso.style}};">-->
                    <td class="inbox-small-cells">
                        <i class="fa fa-star"></i>
                    </td>

                    <td class="view-message text-right hidden-xs">
                        <div ng-class="{true:'pulsate-regular'}[miproceso.prioridad==='URGENTE']">
                            {{miproceso.prioridad}}
                        </div>
                    </td>

                    <td class="view-message text-right" ng-class="{true:'proceso-providenciado'}[miproceso.providenciado===true]"> {{miproceso.numero}} </td>

                    <td class="view-message hidden-xs"> {{miproceso.solicitante.nombre}} </td>
                    <td class="view-message "> <b>{{miproceso.tipoProducto.nombre}}: </b>{{miproceso.observacion}} </td>

                    <!--<td class="view-message" ng-bind-html="miproceso.fechaFinalizacion"></td>-->

                    <td class="view-message inbox-small-cells" ng-show="miproceso.documentos.length != 0">
                        <i class="fa fa-paperclip"></i>
                    </td>

                    <td class="view-message inbox-small-cells" ng-show="miproceso.documentos.length == 0"> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
