<div class="inbox-body" ng-init="init()">
    <div class="inbox-content">
        <form class="inbox-compose form-horizontal" id="fileupload">

            <div class="inbox-compose-btn">
                <button class="btn green" ng-click="aceptar()"><i class="fa fa-check" ></i>Enviar</button>
                <button class="btn default" ng-click="cancelar()">Descartar</button>
                <button class="btn default" ng-click="borrar()">Borrar</button>
            </div>

            <div class="inbox-form-group mail-to" ng-show="tipoProvidencia =='providenciar'">
                <label class="control-label">Para:</label>

                <div class="controls controls-to">

                    <tags-input ng-model="gruposSeleccionados"
                                add-on-blur="false"
                                ng-focus="focus()"
                                ng-blur="blur()"
                                add-on-paste="true"
                                paste-split-pattern="[,;|]"
                                spellcheck="false"
                                display-property="nombre"
                                template="tag-template">
                        <auto-complete source="loadItems($query)"
                                       min-length="1" load-on-down-arrow="true"
                                       load-on-focus="true" load-on-empty="false"
                                       template="autocomplete-template">

                        </auto-complete>
                    </tags-input>

                    <script type="text/ng-template" id="tag-template">
                        <div style="float: left; padding-left: 2px">
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" ng-click="$removeTag()">&times;</a>
                        </div>
                    </script>

                    <script type="text/ng-template" id="autocomplete-template">
                        <div>
                            <div style="float:left; margin-left: 5px">
                                <div><span ng-bind-html="$highlight(text)"></span></div>
                                <div style="margin-top: 5px">
                                    <div><span style="font-style: italic; font-size: 14px">{{data.nombre}}</span></div>
                                </div>
                            </div>
                        </div>
                    </script>
                </div>
            </div>


            <div class="inbox-form-group input-cc" ng-show="isFromProceso">
                <label class="control-label">Prioridad:</label>
                <div class="controls controls-cc">

                    <select class="bs-select form-control" name="prioridad" id="prioridad"
                            ng-model="miProceso.prioridad" required">
                        <option ng-repeat="prioridad in prioridades" value="{{prioridad.value}}">{{prioridad.nombre}}</option>
                    </select>

                </div>
            </div>

            <!-- BEGIN EXTRAS PORTLET-->
            <div>

                    <summernote
                        on-init="note()"
                        ng-model="actividad.comentario"
                        on-focus="focus(evt)"
                        config="options"
                        on-blur="blur(evt)"
                        on-change="change(contents)"
                        on-toolbar-click="toolbarClick(evt)"
                        on-image-upload="imageUpload(files)"
                        editable="editable"
                        editor="editor">
                    </summernote>
            </div>


            <div class="col-md-12">
                <tr>
                    <td> Adjuntar documento al proceso</td>
                </tr>

                <div class="row">

                    <div class="col-md-3">
                        <input type="file" nv-file-select="" uploader="uploader" />
                    </div>

                    <div class="col-md-9" style="margin-bottom: 40px">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Nombre</th>
                                <th ng-show="uploader.isHTML5">Tamaño</th>
                                <th ng-show="uploader.isHTML5">Progreso</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Subir
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove(); removeDocumento(item)">
                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </form>

    </div>
</div>
