<!--<h3 class="page-title ng-scope">BPM-->
    <!--<small>bpm</small>-->
<!--</h3>-->
<div class="row" ng-init="cargarResultados()">

    <!--Primer grupo del buscador-->
    <div class="col-lg-12">
        <div class="portlet box blue-hoki">

            <div class="portlet-title">
                <div class="caption">{{tituloResultado}}</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>

            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">

                            <div class="form-group">
                                <label class="control-label col-sm-4" style="font-weight: bold;"> {{labels.nombre}}:</label>
                                <div class="col-sm-8">
                                    {{textos.nombre }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" style="font-weight: bold;">{{labels.documento}}:</label>
                                <div class="col-sm-8">
                                    {{textos.documento}}

                                </div>
                            </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<div class="row" >


    <div class="col-lg-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Productos</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table3">
                    <div class="form-body">

                        <!--Contiene los datos para la busqueda por usuario-->
                        <table class="table table-bordered table-striped" width="100%">

                            <thead>
                            <tr>

                                <td>
                                    <i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i>
                                    <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                                        Ver
                                        <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>

                                <td>
                                    <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                                    <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                                        Productos
                                        <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="producto in  productos | orderBy:sortType:sortReverse | filter:searchFish">

                                <td><button class="btn btn-warning" ng-click="buscarProcesoProducto(producto)">
                                    <i class="fa fa-edit"></i> </button>
                                </td>
                                <td>
                                    <a ng-click="buscarProcesoProducto(producto)">
                                        {{ producto.nombre }}
                                    </a>


                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

