<div >
    <div class="row">
        <div class="">
            <h1 class="page-header">¡Bienvenid@, {{ usuario.nombre }}!</h1>
        </div>
    </div>
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
        <div class="row widget-row">
            <div class="col-md-3">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " >
                    <h4 class="widget-thumb-heading">Pacientes</h4>
                    <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon bg-green fa fa-users fa-fw"></i>
                        <div class="widget-thumb-body">
                            <span class="widget-thumb-subtitle">total</span>
                            <span id="pacientes" class="widget-thumb-body-stat" count-up reanimate-on-click="false" end-val="pacientes"></span>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET THUMB -->
            </div>
            <div class="col-md-3">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " >
                    <h4 class="widget-thumb-heading">Medicamentos</h4>
                    <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon bg-red fa fa-medkit fa-fw"></i>
                        <div class="widget-thumb-body">
                            <span class="widget-thumb-subtitle">total</span>
                            <span id="medicamentos" class="widget-thumb-body-stat" count-up reanimate-on-click="false" end-val="medicamentos"></span>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET THUMB -->
            </div>
            <div class="col-md-3">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " >
                    <h4 class="widget-thumb-heading">Activos</h4>
                    <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon bg-purple fa fa-bullseye fa-fw"></i>
                        <div class="widget-thumb-body">
                            <span class="widget-thumb-subtitle">total</span>
                            <span id="activos" class="widget-thumb-body-stat" count-up reanimate-on-click="false" end-val="activos"></span>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET THUMB -->
            </div>
            <div class="col-md-3">
                <!-- BEGIN WIDGET THUMB -->
                <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 " >
                    <h4 class="widget-thumb-heading">Interacciones</h4>
                    <div class="widget-thumb-wrap">
                        <i class="widget-thumb-icon bg-blue fa fa-link fa-fw"></i>
                        <div class="widget-thumb-body">
                            <span class="widget-thumb-subtitle">total</span>
                            <span id="interacciones" class="widget-thumb-body-stat" count-up reanimate-on-click="false" end-val="interacciones"></span>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET THUMB -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption ">
                            <span class="caption-subject font-dark bold uppercase">Interacciones más frecuentes</span>
                            <span class="caption-helper">total de interacciones encontradas...</span>
                        </div>
                        <div class="actions">
                            <form class="form-inline">
                                <div class="btn-group">
                                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-close-others="true"> Tipo
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;" ng-click="cambiarTipoGrafico('BarChart')"> Barras</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="cambiarTipoGrafico('PieChart')"> Torta</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-click="cambiarTipoGrafico('ColumnChart')"> Columnas</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="anho"></label>
                                    <div class="input-group">
                                        <select name="mes" class="bs-select form-control" id="mes" ng-change="onSelect()"
                                                data-ng-options="mes.label for mes in meses" data-ng-model="mes">
                                        </select>
                                        <span class="input-group-btn" title="Borrar" ng-click="mes = mesDefault; onSelect()">
                                                    <button class="btn fa fa-close btn-default font-green"></button>
                                                </span>
                                    </div>
                                <div class="input-group">
                                    <select name="anho" class="bs-select form-control" id="anho" ng-change="onSelect()"
                                            data-ng-options="anho for anho in anhos" data-ng-model="anho">
                                    </select>
                                    <span class="input-group-btn" title="Borrar" ng-click="anho = anhoDefault; onSelect()">
                                                <button class="btn fa fa-close btn-default font-green"></button>
                                            </span>
                                </div>
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class=" col-md-6 col-xs-6 col-lg-6">

                            </div>
                            <div class=" col-md-6 col-xs-6 col-lg-6">

                            </div>
                        </form>
                         <div class="row" id="myChartObject">
                        <div google-chart chart="myChartObject" style="height:400px; width:100%;"></div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption ">
                        <span class="caption-subject font-dark bold uppercase">Activo más frecuente</span>
                        <span class="caption-helper">totales...</span>
                    </div>
                    <div class="actions">

                        <div class="btn-group">
                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Tipo
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;" ng-click="cambiarTipoGraficoActivos('BarChart')"> Barras</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="cambiarTipoGraficoActivos('PieChart')"> Torta</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="cambiarTipoGraficoActivos('ColumnChart')"> Columnas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" id="activoFrecuente">
                    <div google-chart chart="activoFrecuente" style="height:400px; width:100%;"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
