/** Custom CSS */

.abm-footer {

  border-top  : 1px solid #eee;
  padding-top : 30px;
}

/**
 * Reportes
 */
.report-title {
  padding-top    : 30px !important;
  padding-bottom : 10px !important;
  text-align     : center;
  font-weight    : bold;
}

.report-sub-title {
  padding-top    : 10px !important;
  padding-bottom : 10px !important;
  text-align     : left;
  font-weight    : bold;
}

.report-header {
   font-weight: bold;
}

.report-footer {
   font-weight    : bold;
   padding-bottom : 20px !important;
}

.report-number {
  text-align: right;
}

.sidebar .arrow {
  position : inherit !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.align-right {
   text-align: right;
}

.form-tabs .tab-content {
  background-color : #f5f5f5 !important;
  border           : 1px solid #ccc;
  border-top       : none;
  padding-left     : 25px;
  padding-right    : 25px;
  padding-top      : 30px;
}

.form-tabs .nav .active a {
  background-color    : #f1f1f1 !important;
  border              : 1px solid #ccc !important;
  border-bottom-color : transparent !important;
}

/**
 * Permite que la flecha se pegue a la derecha
 */
.arrow {
  position : static !important;
}

.button-rigth-input {
  padding-right: 0px !important;

}

/**
 * Elimina le espacio que hay entre las opciones y el input
 * en un select-2
 */
.dropdown > .dropdown-menu {
  margin-top : 0px !important;
}

.main-growl .growl-container {
  z-index: 1000000;
}

.reload-a {
  background-image: url(img/portlet-reload-icon-white.png) !important;
  width : 13px;
}

.reload-a-light {
  background-image: url(img/portlet-reload-icon.png) !important;
  width : 13px;
}

.growl-item > .close {
  display: inherit !important;
  margin-top: inherit !important;
  margin-right: inherit !important;
  width: inherit !important;
  height: inherit !important;
  background-repeat: inherit !important;
  text-indent: inherit !important;
  outline: inherit !important;
  background-image: none !important;
}

.fecha-column {
   width : 150px !important;
   margin-left: -150px !important;
}

.factura-detalle-numero {
  width : 100px !important;
  text-align: right;
}

.factura-detalle-numero input {
  text-align: right;
}

.factura-detalle-descripcion {
  max-width: 400px !important;
}

/**
 * Esto oculta el spinner del "number" en html5
 */
.factura-detalle-numero input[type=number]::-webkit-inner-spin-button,
.factura-detalle-numero input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.factura-detalle-acciones {
   max-width: 100px !important;
   width: 100px !important;
}

.ui-select-placeholder, .ui-select-match-text, .ui-select-match-item, .ui-select-choices {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}

.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

.table .btn-group .btn {
   margin-right: 0px !important;
}


.yadcf-filter-wrapper  {
  display : block !important;
  width   : 100%;
}

.yadcf-filter-wrapper .yadcf-filter  {
  width : 100%;
}

.yadcf-filter-wrapper-inner {
  border : none;
}

.yadcf-filter-wrapper
.yadcf-filter-wrapper-inner
span {
  margin : 1px;
}

/*
 * yadcf-filter-range-date = fecha
 * yadcf-filter-range-number = numeros
 * select2-container = select2
 */
.yadcf-filter-wrapper
.yadcf-filter-wrapper-inner
input {
  width : 100%;
}

.yadcf-filter-wrapper
.yadcf-filter-wrapper-inner
span + input {
  display : block;
}


.yadcf-filter-wrapper
.select2-container {
   width: 100%;
}

.form-tabs .nav-tabs {
   margin-bottom : 0px;
}

.to-hide ul {
  display : none;
}

.table > thead > tr > th {
   vertical-align: top;
}


td.monto-table-column {
  padding-right : 30px;
  text-align    : right;
}

th.monto-table-column {
  text-align: center;
}

th.monto-table-column input {
  text-align: right;
}

.table-footer {
   font-size : 13px;
}

.table-footer button {
   font-size : 13px;
   line-height: 1.5;
}

/**
 * Un `row` en un formulario que contiene una tabla
 */
.form-table {
  margin-left: 10px;
  margin-right: 10px;

}

table.main-table thead > tr > th.sorting_asc, table.main-table thead > tr > th.sorting_desc, table.main-table thead > tr > th.sorting, table.main-table thead > tr > td.sorting_asc, table.main-table thead > tr > td.sorting_desc, table.main-table thead > tr > td.sorting {
  padding-right: 8px;
  padding-top : 8px;
}

.main-table thead tr th.sorting_asc,
.main-table thead tr th.sorting_desc,
.main-table thead tr th.sorting {
  background-position :  100% 1vh;

}

.main-table tr th.button-column,
.main-table tr td.button-column {
  text-align: center;
  min-width: 100px;
}

.table tr th.button-column,
.table tr td.button-column {
  text-align: center;
}

input.form-control.yadcf-filter-range, input.form-control.yadcf-filter {
  font-size : 12px;
  padding : 4px;
}

.yadcf-filter-wrapper {
  margin-top: 1vh;
  margin-left : 0px;
  width: 100%;
}

.yadcf-filter-wrapper-inner  {
   width: 100%;
}

.yadcf-filter.form-control.select2 {
  font-size: 12px;
}

.yadcf-filter.form-control.select2 option:eq(0) {
  color : gray;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 25px;
}


.btn-margin-left {
  margin-left: 10px;
}
 /* estilio de la flecha para scroll arriba */
.scroll-to-top {
  bottom: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-margin-left {
  margin-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-margin-right {
  margin-right: 0px !important;
}

.main-table tr.selected > td.sorting_1 {
  background-color: inherit !important;
}

.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top : 0px !important;
}

/* Corrige la posición de la x que al cliquear resetea la selección del ui-select */
.ui-select-allow-clear + i.caret.pull-right + .btn-link {
  position: absolute;
  right: 10px;
}

.pagination-footer {
  background-color: #f1f4f7;
}

.star-referencia {
  display: inline-block;
  float: right;
}

.proceso-title {
  text-align: center;
  font-weight: bold !important;
  font-style: italic !important;
}

.proceso-providenciado {
  font: italic bold 12px/30px Georgia, serif;
  color: #3598dc;
}
