<schema-abm service="service" config="config" form="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="altoRiesgo">Es de alto riesgo?</label>
        <div class="col-sm-10">
            <toggle id="altoRiesgo" ng-model="localModel.altoRiesgo" ng-change="changed()"  on="<i class='fa fa-check'></i> SI" off="<i class='fa fa-times'></i> NO" onstyle="btn-danger" offstyle="btn-default"></toggle>
        </div>
    </div>
</schema-abm>
