<schema-abm service="service" config="config" form="form">
    <div class="form-group form-append">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Lista de Miembros</h4>
                <p>
                    <small>
                        <i class="fa fa-info"></i>
                        Miembros de este Grupo
                    </small>
                </p>
            </div>
            <div class="panel-body">
                <div ng-repeat="u in usuarios">
                    <div class="checkbox">
                        <label class="text-{{ u.selected ? 'success' : 'danger' }}" style="padding-left:0px">
                            <input type="checkbox" style="display:none">
                            <i class="fa fa-{{ u.selected ? 'check' : 'times' }}"></i>
                            {{ u.nombre }}
                            </input>
                        </label>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error' : isValid('grupo')}">
        <label class="control-label col-sm-2" >Dependencia</label>
        <div class="col-sm-10">
            <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
                <ui-select ng-model="localModel.grupo" class="no-padding-left">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nombre"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in (grupos | filter: $select.search)">
                        <span ng-bind="item.nombre"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</schema-abm>
