<div>
  <div class="portlet light bordered ">
    <div class="portlet-title">
      <div class="caption caption-md">
        <i class="font-green" ng-class="config.icon ? config.icon : 'icon-settings'" ></i>
        <span class="caption-subject font-green bold uppercase">{{ config.title }}</span>
        <span class="caption-helper">{{ config.detail }}</span>
      </div>
      <div class="actions">
        <a ng-click="goAgregar()" class="btn green" ng-show="hasPermiso('ADD')">
          <i class="fa fa-plus"></i>
          {{ addLabel }}
        </a>
          <a ng-click="goDeleteAll()" class="btn red" ng-show="hasPermiso('DELETE') && config.deleteAll">
              <i class="fa fa-trash"></i>
              Borrar salidas
          </a>
      </div>
    </div>
      <div ng-hide="config.globalSearchEnabled == false">

      <div class="inputs pull-right">
          <div class="portlet-input input-inline input-large">
              <div class="input-icon dataTables_filter">
                  <i class="icon-magnifier"></i>
                  <input type="text" class="form-control input-circle" placeholder="Buscar..." ng-model="search" ng-model-options="{debounce: 700}" ng-change="recargar()" />
              </div>
              <br />
          </div>
      </div>
      </div>
    <div class="portlet-body">
      <div>
        <div class="dataTable_wrapper table-responsive">
          <table
             dt-options="dtOptions"
             dt-columns="dtColumns"
             dt-instance="dtInstanceCallBack"
             dt-disable-deep-watchers="true"
             class="table table-striped table-bordered dt-responsive main-table"
             cellspacing="0"
             width="100%">
            <thead>
            </thead>
            <tbody>
              <tr></tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="table-footer">
      <div class="actions text-right">
        <button ng-click="goAgregar()" class="btn green">
          <i class="fa fa-plus"></i>
          {{ addLabel }}
        </button>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="deleteModalLabel">Eliminando {{ config.resource }}</h4>
          </div>
          <div class="modal-body">
            ¿Está seguro que desea eliminar a <b>"{{ toRemove.label }}"</b> de <b>{{ config.resource }}</b>?
          </div>
          <div class="modal-footer">
            <div class="btn-group">
              <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn red" ng-click="deleteMe()">Eliminar</button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
    <!-- Excel upload -->
    <div class="modal fade" id="excelModal" tabindex="-1" role="dialog" aria-labelledby="excelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="excelModalLabel"><strong>Carga de {{ config.resource }}</strong></h4>
                </div>
                <div class="modal-body">
                    <div align="center">
                        <p class="text-info">Carga el excel generado desde el sistema</p>

                        <label class="btn btn-default green" for="my-file-selector">
                        <span class="glyphicon glyphicon-plus pull-left"></span>
                        <!-- ngf-multiple="true" ngf-keep="'distinct'" -->
                        <input id="my-file-selector" type="file" ngf-select
                               ng-model="files" accept=".xlsx,.xls"
                               ngf-model-options="{updateOn: 'change', allowInvalid: false}"
                               style="display:none;">
                        Seleccionar archivo
                        </label>
                        <div ng-show="files.name">
                            <tr ng-show="files.name">
                                <td><p class="text-primary"><strong>{{ files.name }}</strong></p></td>
                            </tr>
                            <tr>
                                <td nowrap><p class="text-primary">({{ files.size/1024/1024|number:2 }} MB)</p></td>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn green" ng-click="excelUpload()">Subir</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
