<schema-abm service="service" config="config" form="form">

  <div class="form-group" ng-class="{ 'has-error' : isValid('tipoDocumento')}">
    <label class="control-label col-sm-2" for="tipoDocumento">Tipo Documento</label>
    <div class="col-sm-10">
      <div class="input-group">
        <ui-select id="tipoDocumento" ng-model="localModel.tipoDocumento" class="no-padding-left">
          <ui-select-match>
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (listadoTipoDocumento | filter: $select.search)">
            <span ng-bind="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="help-block" ng-show="isValid('tipoDocumento')">
        Este campo es requerido
      </div>
    </div>
  </div>

  <div class="form-group form-append">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Lista de Roles</h4>
        <p>
        <small>
          <i class="fa fa-info"></i>
          Seleccione los roles de este Usuario
        </small>
        </p>
      </div>
      <div class="panel-body">
        <div ng-repeat="rol in roles">
          <div class="checkbox">
            <label class="text-{{ rol.selected ? 'success' : 'danger' }}" style="padding-left:0px">
              <input type="checkbox" ng-model="rol.selected" style="display:none">
              <i class="fa fa-{{ rol.selected ? 'check' : 'times' }}"></i>
              {{ rol.nombre }} - {{ rol.descripcion }}
              </input>
            </label>
          </div>
        </div>

      </div>
    </div>
    <!--<div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Configuración de la vista</h4>
      </div>

      <div class="panel-body">
        <div class="form-group row">
          <label class="control-label col-sm-2">Agregar Propiedad</label>
          <div class="col-sm-8">
            <input
                name="propiedad"
                type="text"
                class="form-control"
                ng-model="config.propiedad"
                placeholder="Nueva Propiedad" />
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn green" ng-click="addPropiedad()">
              <i class="fa fa-plus"></i>
              Agregar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Propiedad</th>
                <th>Valor</th>
                <th>Acciones</th>
              </tr>
              <tr ng-repeat="(key, value) in config.model.configuraciones">
                <td> {{ key }} </td>
                <td> <input class="form-control" ng-model="config.model.configuraciones[key]" /> </td>
                <td>
                  <button type="submit" class="btn red" ng-click="removePropiedad(key)">
                    <i class="fa fa-trash-o"></i>
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3"
                  ng-show="isEmpty(config.model.configuraciones)">
                  No posee propiedades.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>-->

  </div>
</schema-abm>
