<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-bar-chart font-dark hide"></i>
      <span class="caption-subject font-dark bold uppercase">Cambio de contraseña</span>
      <span class="caption-helper">Aquí puede cambiar su contraseña</span>
    </div>
  </div>
  <div class="portlet-body form">
    <form class="form-horizontal" role="form">
      <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">Usuario</label>

          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
              <ui-select ng-model="data.usuario"
                name="usuario"
                ng-disabled="!canChangeAnyPassword"
                ng-required="true"
                reset-search-input="false" >
                <ui-select-match placeholder="Seleccione un usuario">
                  <span>{{ $select.selected.nombre }}</span>
                </ui-select-match>
                <ui-select-choices repeat="usuario in usuarios"
                  refresh="searchUsuarios($select.search)"
                  refresh-delay="0" >
                  <span>{{ usuario.nombre }}</span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

        </div>
        <div class="form-group" ng-show="!canChangeAnyPassword">
          <label class="col-md-3 control-label">Contraseña actual</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Contraseña actual" 
                ng-model="data.currentPassword">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contraseña</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Contraseña" 
                ng-model="data.password">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Repetir contraseña</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Repetir contraseña"
                ng-model="data.repeatPassword" >
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <div class="btn-group" >
              <button type="submit" class="btn green" ng-click="cambiar()">Cambiar contraseña</button>
              <button type="button" class="btn default" ng-click="cancelar()" disabled="isForce">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


