<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">Mi Cuenta</span>
            <span class="caption-helper">Aquí puede cambiar sus datos personales</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form">

            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('nombre')}">
                                <label class="control-label col-sm-2" for="username">Username</label>
                                <div class="col-sm-6">
                                    <input name="nombre"
                                           id="username"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.usuario.username"
                                           ng-disabled="true"
                                           placeholder="Usuario para iniciar de sesión"
                                           ng-required="true" />
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('nombre')}">
                                <label class="control-label col-sm-2" for="nombre">Nombre</label>
                                <div class="col-sm-6">
                                    <input name="nombre"
                                           id="nombre"
                                           type="text"
                                           class="form-control text-uppercase"
                                           ng-model="data.usuario.nombre"
                                           placeholder="Nombre"
                                           ng-required="true" />
                                    <div class="help-block" ng-show="isValid('nombre')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('direccion')}">
                                <label class="control-label col-sm-2" for="direccion">Dirección</label>
                                <div class="col-sm-6">
                                    <input name="direccion"
                                           id="direccion"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.usuario.direccion"
                                           placeholder="Dirección" />
                                    <div class="help-block" ng-show="isValid('direccion')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('telefono')}">
                                <label class="control-label col-sm-2" for="telefono">Teléfono</label>
                                <div class="col-sm-6">
                                    <input name="telefono"
                                           id="telefono"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.usuario.telefono"
                                           placeholder="Teléfono" />
                                    <div class="help-block" ng-show="isValid('telefono')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('correo')}">
                                <label class="control-label col-sm-2" for="correo">Correo Electrónico</label>
                                <div class="col-sm-6">
                                    <input name="correo"
                                           id="correo"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.usuario.correo"
                                           placeholder="Correo" />
                                    <div class="help-block" ng-show="isValid('correo')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('documento')}">
                                <label class="control-label col-sm-2" for="documento">Documento</label>
                                <div class="col-sm-6">
                                    <input name="documento"
                                           id="documento"
                                           type="text"
                                           class="form-control"
                                           ng-model="data.usuario.documento"
                                           placeholder="Documento"
                                           ng-required="true" />
                                    <div class="help-block" ng-show="isValid('documento')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="form-group col-sm-10" ng-class="{ 'has-error' : isValid('tipoDucmento')}">
                                <label class="control-label col-sm-2" for="tipoDocumento">Tipo Documento</label>
                                <div class="col-sm-6">
                                    <select name="tipoDucmento" class="bs-select form-control" id="tipoDocumento"
                                            ng-model="data.usuario.tipoDocumento" required>
                                        <option ng-repeat="tipo in tipoDocumentos" value="{{tipo}}">{{tipo}}</option>
                                    </select>
                                    <div class="help-block" ng-show="isValid('tipoDucmento')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>

                    </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="btn-group" >
                            <button type="submit" class="btn green" ng-click="guardar()">Guardar</button>
                            <button type="button" class="btn default" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


