<div class="row">
    <div class="col-lg-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-blue-hoki"></i>
                    Solicitante
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                    <a href="javascript:;"  class="fullscreen" data-original-title="" title=""></a>
                </div>
            </div>

            <div class="portlet-body form">
                <form class="form-horizontal" name="form" role="form" novalidate ch-focus id="main-table">
                    <div class="form-body">
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('nombre')}">
                                <label class="control-label col-sm-2" for="nombre">Nombre</label>
                                <div class="col-sm-10">
                                    <input name="nombre"
                                        id="nombre"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.nombre"
                                        placeholder="Nombre"
                                        ng-required="true" />
                                    <div class="help-block" ng-show="isValid('nombre')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('tipo')}">
                                <label class="control-label col-sm-2" for="tipo">Tipo Solicitante</label>
                                <div class="col-sm-10">
                                    <select name="tipo" class="bs-select form-control" id="tipo"
                                            ng-model="solicitante.tipo"
                                            ng-disabled="solicitante.id"
                                            required>
                                        <option ng-repeat="tipo in tipoSolicitantes" value="{{tipo}}">{{tipo}}</option>
                                    </select>
                                    <div class="help-block" ng-show="isValid('tipo')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="solicitante.tipo === 'EMPRESA'">
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('rubro')}">
                                <label class="control-label col-sm-2" for="rubro">Rubro</label>
                                <div class="col-sm-10">
                                    <select name="rubro" class="bs-select form-control" id="rubro"
                                            ng-model="solicitante.rubro" required>
                                        <option ng-repeat="rubro in rubros" value="{{rubro}}">{{rubro}}</option>
                                    </select>
                                    <div class="help-block" ng-show="isValid('rubro')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('tipoSociedad')}">
                                <label class="control-label col-sm-2" for="tipoSociedad">Tipo Sociedad</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="solicitante.tipoSociedad"
                                                   ng-required="true"
                                                   focus-on="FocusTipoSociedad"
                                                   on-select="focusNext()"
                                                   name="tipoSociedad"
                                                   id="tipoSociedad"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un tipo de sociedad">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="tipoSociedad in (tipoSociedades | filter: $select.search)" refresh-delay="0" >
                                                <span ng-bind="tipoSociedad.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-show="isValid('tipoSociedad')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('tipoDucmento')}">
                                <label class="control-label col-sm-2" for="tipoDucmento">Tipo Documento</label>
                                <div class="col-sm-10">
                                    <select name="tipoDucmento" class="bs-select form-control" id="tipoDocumento"
                                            ng-model="solicitante.tipoDocumento" required>
                                        <option ng-repeat="tipo in tipoDocumentos" value="{{tipo}}">{{tipo}}</option>
                                    </select>
                                    <div class="help-block" ng-show="isValid('tipoDucmento')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('documento')}">
                                <label class="control-label col-sm-2" for="documento">Documento</label>
                                <div class="col-sm-10">
                                    <input name="documento"
                                        id="documento"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.documento"
                                        placeholder="Documento"
                                        ng-required="true" />
                                    <div class="help-block" ng-show="isValid('documento')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('telefono')}">
                                <label class="control-label col-sm-2" for="telefono">Teléfono</label>
                                <div class="col-sm-10">
                                    <input name="telefono"
                                        id="telefono"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.telefono"
                                        placeholder="Teléfono" />
                                    <div class="help-block" ng-show="isValid('telefono')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('celular')}">
                                <label class="control-label col-sm-2" for="celular">Celular</label>
                                <div class="col-sm-10">
                                    <input name="celular"
                                        id="celular"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.celular"
                                        placeholder="Celular" />
                                    <div class="help-block" ng-show="isValid('celular')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('correo')}">
                                <label class="control-label col-sm-2" for="correo">Email</label>
                                <div class="col-sm-10">
                                    <input name="correo"
                                        id="correo"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.correo"
                                        placeholder="Correo" />
                                    <div class="help-block" ng-show="isValid('correo')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('direccion')}">
                                <label class="control-label col-sm-2" for="celular">Dirección</label>
                                <div class="col-sm-10">
                                    <input name="direccion"
                                        id="direccion"
                                        type="text"
                                        class="form-control"
                                        ng-model="solicitante.direccion"
                                        placeholder="Dirección" />
                                    <div class="help-block" ng-show="isValid('direccion')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('pais')}">
                                <label class="control-label col-sm-2" for="pais">País</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="solicitante.pais"
                                                   focus-on="FocusPais"
                                                   ng-change="changePais()"
                                                   on-select="focusNext()"
                                                   name="pais"
                                                   id="pais"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un país">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="pais in (paises | filter: $select.search)" refresh-delay="0" >
                                                <span ng-bind="pais.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-show="isValid('pais')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('departamento')}">
                                <label class="control-label col-sm-2" for="departamento">Departamento</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="solicitante.departamento"
                                                   focus-on="FocusDepartamento"
                                                   ng-change="changeDepartamento()"
                                                   on-select="focusNext()"
                                                   name="departamento"
                                                   id="departamento"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione una departamento">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="departamento in departamentos"
                                                               refresh="searchDepartamentos($select.search)"
                                                               refresh-delay="0" >
                                                <span ng-bind="departamento.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-show="isValid('departamento')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('distrito')}">
                                <label class="control-label col-sm-2" for="distrito">Distrito</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select  ng-model="solicitante.distrito"
                                                    focus-on="FocusDistrito"
                                                    on-select="focusNext()"
                                                    ng-change="changeDistrito()"
                                                    name="distrito"
                                                    id="distrito"
                                                    reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione un distrito">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="distrito in distritos"
                                                               refresh="searchDistrito($select.search)"
                                                               refresh-delay="0" >
                                                <span ng-bind="distrito.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-show="isValid('distrito')">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{ 'has-error' : isValid('localidad')}">
                                <label class="control-label col-sm-2" for="localidad">Localidad</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        <ui-select ng-model="solicitante.localidad"
                                                   focus-on="FocusLocalidad"
                                                   on-select="focusNext()"
                                                   name="localidad"
                                                   id="localidad"
                                                   reset-search-input="false" >
                                            <ui-select-match placeholder="Seleccione una localidad">
                                                <span ng-bind="$select.selected.nombre"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="localidad in localidades"
                                                               refresh="searchLocalidad($select.search)"
                                                               refresh-delay="0" >
                                                <span ng-bind="localidad.nombre"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="help-block" ng-show="isValid('localidad')">Este campo es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <div class="btn-group">
                            <button type="button" class="btn red" ng-click="cancelar()">Cancelar</button>
                            <button type="submit" class="btn green" ng-click="aceptar()" ng-show="solicitante.tipo !== 'USUARIO'">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>