<div>
    <div class="portlet light boxed">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="font-green fa fa-list fa-fw"></i>
                <span class="caption-subject font-green bold uppercase">Eliminar Salidas</span>
                <span class="caption-helper">Borrar datos cargados desde archivo excel</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" name="form" role="form" novalidate ch-focus >
                <div class="form-body">
                    <div class="row" >
                        <div class="form-group form-inline col-sm-6">
                            <label class="control-label col-sm-4" for="desde">Rango de fechas</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input placeholder="Desde" id="desde"
                                           type="text" size="10"
                                           name="desde"
                                           ng-required="true"
                                           class="form-control"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           ng-model="desde"
                                           is-open="desdeIsOpen"
                                           datepicker-options="dateOptions"
                                           current-text="Hoy"
                                           clear-text="Limpiar" readonly
                                           close-text="Cerrar" ng-click="desdeIsOpen = ! desdeIsOpen"/>
                                    <span class="input-group-btn">
                                         <button type="button" class="btn green" ng-click="desdeIsOpen = ! desdeIsOpen">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                       </span>
                                </div>
                                <div class="input-group">
                                    <input placeholder="Hasta" id="hasta"
                                           type="text" size="10"
                                           name="hasta"
                                           ng-required="true"
                                           class="form-control"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           ng-model="hasta"
                                           is-open="hastaIsOpen"
                                           datepicker-options="dateOptions"
                                           current-text="Hoy"
                                           clear-text="Limpiar" readonly
                                           close-text="Cerrar" ng-click="hastaIsOpen = ! hastaIsOpen"/>
                                    <span class="input-group-btn">
                                     <button type="button" class="btn green" ng-click="hastaIsOpen = ! hastaIsOpen">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                   </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-actions center-block">
                    <div class="btn-group ">
                        <button type="button" class="btn red col-lg-6" ng-click="aceptar()">
                            Aceptar</button>
                        <button type="button" class="btn col-lg-6" ng-click="goList()">
                            Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModalLabel">Eliminando salidas</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar las salidas desde {{desde | date:'dd/MM/yyyy'}} hasta {{hasta | date:'dd/MM/yyyy'}}</b>?
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn red" ng-click="confirmar()">Eliminar</button>
                        <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
