<div class="row">
    <a ng-click="goAgregar()" class="btn green" >
        <i class="fa fa-plus"></i>
        Borrar salidas
    </a>
</div>
<list columns="columns" service="service" config="config"></list>

