<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="true"
      data-auto-scroll="true" data-slide-speed="200"
      ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->


        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle" ui-sref="dashboard.home">
                <i class="fa fa-home fa-fw"></i>
                <span class="title">Inicio</span>
            </a>
            <!-- /.nav-second-level -->
        </li>

        <li class="nav-item" ch-show="CONFIGURACION_VIEW">
                <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-cogs fa-fw"></i>
                <span class="title">Configuración</span>
                <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li ch-show="USUARIO_VIEW"><a ui-sref="dashboard.usuario-list"><i class="fa fa-user fa-fw"></i> Usuarios</a></li>
                    <li ch-show="ROL_VIEW"><a ui-sref="dashboard.rol-list"><i class="fa fa-list-alt fa-fw"></i> Roles</a></li>
                    <li ch-show="PERMISO_VIEW"><a ui-sref="dashboard.permiso-list"><i class="fa fa-ban fa-fw"></i> Permisos</a></li>
                    <li ch-show="GRUPO_VIEW"><a ui-sref="dashboard.grupo-list"><i class="fa fa-users fa-fw"></i> Grupos</a></li>
                </ul>
            <!-- /.nav-second-level -->
        </li>

        <li class="nav-item" ch-show="OPERATIVO_VIEW">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-hospital-o fa-fw"></i>
                <span class="title">Operativo</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ch-show="SEVERIDAD_VIEW"><a ui-sref="dashboard.severidad-list"><i class="fa fa-exclamation-triangle fa-fw font-green"></i> Severidad</a></li>
                <li ch-show="ACTIVO_VIEW"><a ui-sref="dashboard.activo-list"><i class="fa fa-bullseye fa-fw font-green"></i> Activos</a></li>
                <li ch-show="MEDICAMENTO_VIEW"><a ui-sref="dashboard.medicamento-list"><i class="fa fa-medkit fa-fw font-green"></i> Medicamentos</a></li>
                <li ch-show="INTERACCION_VIEW"><a ui-sref="dashboard.interaccion-list"><i class="fa fa-link fa-fw font-green"></i> Interacciones</a></li>
                <li ch-show="PACIENTE_VIEW"><a ui-sref="dashboard.paciente-list"><i class="fa fa-users fa-fw font-green"></i> Pacientes</a></li>
                <li ch-show="SALIDA_VIEW"><a ui-sref="dashboard.salida-list"><i class="fa fa-list fa-fw font-green"></i> Salidas</a></li>
            </ul>
        </li>
        <li class="nav-item" ch-show="RESULTADOS_VIEW">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-line-chart fa-fw"></i>
                <span class="title">Resultados</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li ch-show="INTERACCIONES_PACIENTES_VIEW"><a ui-sref="dashboard.interpacientes"><i class="fa fa-users fa-fw font-green"></i> Interacciones</a></li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>
