<ul class="nav navbar-nav pull-right">
  <!--<li class="dropdown">
    <a class="dropdown-toggle" tooltip="Agregar Consulta" tooltip-placement="bottom" ui-sref="dashboard.consulta-general-abm">
      <i class="fa fa-heartbeat fa-fw"></i>
    </a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" tooltip="Agregar Estudio" tooltip-placement="bottom" ui-sref="dashboard.estudio-abm">
      <i class="fa fa-stethoscope fa-fw"></i>
    </a>
  </li>-->
  <li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
        <i class="fa fa-user"></i>
        <span class="username username-hide-on-mobile"> {{nombre}} </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a ng-click="myAccount()">
                <i class="icon-user"></i> Mi cuenta </a>
        </li>
        <li>
            <a ng-click="cambiarPass()">
                <i class="icon-key"></i> Cambiar Password </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="#" ng-click="logout()">
                <i class="icon-logout"></i> Salir </a>
        </li>
    </ul>
  </li>
</ul>

