<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Resumen estadístico</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="bidata" >
      </div>
    </div>
  </div>
</div>
