<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Reporte de uso de la aplicación</h1>
    </div>
  </div>
  <uib-tabset>
  <uib-tab heading="Resumen">
    <div class="row">
      <div class="col-lg-5">
        <table class="table printable table-hover" 
          id="report">
          <thead>
            <tr>
              <th>Usuario</th>
              <th class="align-right">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="value in full">
              <td>{{ value.usuario }}</td>
              <td class="align-right">{{ value.cantidad }}</td>
            </tr>
          </tbody>
          <tfooter>
            <tr>
              <td>Total</td>
              <td class="align-right">{{ grandTotal }}</td>
            </tr>
          </tfooter>
        </table>
      </div>
      <div class="col-lg-5">
        <canvas id="line" width="100%" height="100px"
                class="chart chart-pie chart-xl"
                data="fullBar.data"
                labels="fullBar.labels"
                chart-legend="true"
                click="fullBar.onClick" ></canvas>
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="Por día">
    <div class="row">
      <div class="col-lg-5">
        <table class="table printable table-hover table-condensed" id="report">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Usuario</th>
              <th class="text-right">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="value in data">
              <td>{{ value.fecha }}</td>
              <td>{{ value.usuario }}</td>
              <td class="align-right">{{ value.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <canvas width="100%" height="100px"
                class="chart chart-base"
                data="progresoLine.data"
                labels="progresoLine.labels"
                chart-type="progresoLine.type"
                click="progresoLine.onClick"
                series="progresoLine.series"></canvas>
      </div>
    </div>
  </uib-tab>
  </uib-tabset>
</div>
