<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default login">
        <div class="panel-body">
          <div class="row-fluid user-row title-login">
            <i class="fa fa-medkit fa-3x"></i>
            <h3 class="panel-title user-row">Sistema de Control de Interacciones</h3>
          </div>
        </div>
        <div class="panel-heading">
          <div class="form-group">
            <label>Bienvenido</label>
            <hr>
          </div>
          <form accept-charset="UTF-8" role="form" ng-submit="login()">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Usuario" name="email" type="text" ng-model="loginUser.username">
              </div>
              <div class="form-group">
                <input class="form-control" id="password" placeholder="Contraseña" name="password" type="password" value="" ng-model="loginUser.password">
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Iniciar sesión">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
