<schema-abm service="service" config="config" form="form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="activos">Activos</label>

        <div class="col-sm-10">

            <tags-input ng-model="activos"  id="activos"
                        add-on-blur="false"
                        ng-focus="focus()"
                        ng-blur="blur()"
                        add-on-paste="true"
                        paste-split-pattern="[,;|]"
                        spellcheck="false"
                        display-property="nombre"
                        replace-spaces-with-dashes="false"
                        template="tag-template">
                <auto-complete source="loadItems($query)"
                               min-length="1" load-on-down-arrow="true"
                               load-on-focus="true" load-on-empty="false"
                               template="autocomplete-template">

                </auto-complete>
            </tags-input>

            <script type="text/ng-template" id="tag-template">
                <div style="float: left; padding-left: 2px">
                    <span>{{$getDisplayText()}}</span>
                    <a class="remove-button" ng-click="$removeTag()">&times;</a>
                </div>
            </script>

            <script type="text/ng-template" id="autocomplete-template">
                <div>
                    <div style="float:left; margin-left: 5px">
                        <div><span ng-bind-html="$highlight(text)"></span></div>
                        <div style="margin-top: 5px">
                            <div><span style="font-style: italic; font-size: 14px">{{data.nombre}}</span></div>
                        </div>
                    </div>
                </div>
            </script>
        </div>
        <label class="col-sm-2 control-label" for="controlado">Es controlado?</label>
        <div class="col-sm-10">
            <toggle id="controlado" ng-model="localModel.controlado" ng-change="changed()"  on="<i class='fa fa-check'></i> SI" off="<i class='fa fa-times'></i> NO" onstyle="btn-danger" offstyle="btn-default"></toggle>
        </div>
    </div>
</schema-abm>
