<schema-abm service="service" config="config" form="form">
  <div class="form-group form-append">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Lista de permisos</h4>
          <p>
            <small>
              <i class="fa fa-info"></i>
              Seleccione los permisos que tendrá este rol
            </small>
          </p>
        </div>
        <div class="panel-body">
          <div ng-repeat="permiso in permisos">
            <div class="checkbox">
              <label class="text-{{ permiso.selected ? 'success' : 'danger' }}" style="padding-left:0px">
                <input type="checkbox" ng-model="permiso.selected" style="display:none">
                  <i class="fa fa-{{ permiso.selected ? 'check' : 'times' }}"></i>
                  {{ permiso.descripcion }}
                </input>
              </label>
            </div>
          </div>

        </div>
    </div>

  </div>
</schema-abm>
